
/********** Base styles **********/
* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family:'Oxygen', sans-serif;
}

h1 {
  text-align: center;
  font-size: 130%;
  margin-bottom: 50px;
  color: brown;
}

 body {
  margin: 20px;
  background-color: yellow;
 } 

div {
  width:100%;
  margin: auto;
  float: left;
 font-style: bold;
}

h2 {
  font-style: bold;
  font-size: 120%;
  border: 1px solid black;
  padding: 15px;
  border:1px solid black;
  padding: 3px 11px 3px 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center

}
.chicken {
  background-color: lightgreen;
  color: #000000;
}

.beef {
  background-color: lightblue;
  color: #FFFFFF;
}

.sushi {
  background-color: red;
  color: #000000;
}

.section {
  position: relative;
  text-align: left;
  border: 1px solid black;
  background-color: lightgrey;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 40px 10px 10px 10px;
}

/* Simple Responsive Framework. */
.row  {
  width: 100%;
}
/********** Desktop only **********/
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    width: 33.33%;
    padding: 0px 10px 0px 10px;
  }
}
/********** Tablet  only **********/

@media (min-width: 768px) and (max-width: 991px){
.col-md-1, .col-md-2 {
    float: left;
    padding: 0px 10px 0px 10px;
  }
  .col-md-1 {
    width: 100%;
  }
  .col-md-2 {
    width: 50%;
  }
}
