

body {
  font-size: 16px;
  color: #ffffff;
  background-color:#ffffff;
  font-family: 'Lora', serif;
}

/** HEADER **/

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-header h1 { 
  padding-top: 5px;
  padding-left: 5px;
  font-family: serif;
  color:#557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}
#nav-list {
color: #00FFFF;
font-size: 1.3em;
background-color: pink;

 } 

#navbar-fst.text-center {
background-color: brown;

}
  #navbar-scd.text-center {
background-color: lightgreen;

  }
  #navbar-trd.text-center {
background-color: lightblue;

  }
/********************************************************/

.container .jumbotron {
  box-shadow: 0 0 50px lightblue;
  border: 2px solid lightblue;
  margin-top: 2px;
  margin-left: 1px;
  margin-right:1px;
  padding: 1px;
}

#main-menu.text-center {
   color: green;
  font: bold;
  font-size: 15px;

  
}
h1.text-center {
   color: red;
  font: bold;
  font-size: 1.5em;
  
}
#beef1.jumbotron {
  box-shadow: 0 0 0px lightblue;
  border: 0px solid lightblue;
  color: black;
  height: 500px;
}

/* END HOME PAGE */
